@import "tailwindcss";

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-lexend: 'Lexend', sans-serif;

}

.font-dm-sans {
  font-family: var(--font-dm-sans);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-lexend {
  font-family: var(--font-lexend);
}
